@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #f8f8f8;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}

.main-page {
  text-align: center;
  padding-top: 2rem;
}

.main-page h1 {
  margin-bottom: 1rem;
}

.main-page p {
  margin-bottom: 2rem;
}

.main-page ul {
  list-style: none;
  padding: 0;
}

.main-page li {
  margin: 0.5rem 0;
}

.main-page a {
  color: #0070f3;
  text-decoration: none;
  font-size: 1.2rem;
}

.main-page a:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.table-container {
  padding: 1rem;
}

.table-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.table {
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #f0e2eb;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e2e8f0;
}

.button {
  background-color: #3b82f6;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
}

.button-red {
  background-color: #ef4444;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  margin-left: 0.5rem;
}

.button-green {
  background-color: #10b981;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  margin-left: 0.5rem;
}

.button-yellow {
  background-color: #f59e0b;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  margin-left: 0.5rem;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content label {
  font-size: 0.875rem;
  font-weight: bold;
}

.modal-content input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.modal-content input[type="number"],
.modal-content input[type="text"] {
  width: 100%;
}

.modal-content .form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-content .form-actions button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content .form-actions button.cancel {
  background-color: #ccc;
  color: #333;
}

.modal-content .form-actions button.cancel:hover {
  background-color: #999;
}

.modal-content .form-actions button.submit {
  background-color: #007bff;
  color: white;
}

.modal-content .form-actions button.submit:hover {
  background-color: #0056b3;
}
